<div class="accordion" id="accordion">      
      
      <% if @products.blank? %>
      
        <div class="accordion-group">
          <div class="accordion-heading">
            <em>There are no products in your store.</em>
          </div>
        </div>
      
      <% else %>
      
        <%  @products.each_with_index do |product, index| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%= product.id %>">
                <%= product.title %> <span class="pull-right muted"><%= product.product_type %> <%#= current_shop.shop.currency %></span>
              </a>
            </div>
        
            <div id="<%= product.id %>" class="accordion-body collapse <% if index == 1 %>in<% end %>">
              <div class="accordion-inner">
                
                <% if !product.images.empty? %>
                  <div class="polaroid">
                    <%= link_to image_tag(product.images.first.medium), '#modal-'+product.id.to_s, :'data-toggle' => 'modal' %>
                  </div>
                <% end %>
                
                <p><strong>Type:</strong> <%= product.product_type %></p>
                <p><strong>Vendor:</strong> <%= product.vendor %></p>
                <p><%= raw(product.body_html) %></p><br/>
                <% if product.published_at != nil %>
                <p class="muted">Published at <%= Time.parse(product.published_at).strftime("%H:%M on %m/%d/%Y") %></p>
                <% end %>
                <p><%#= link_to raw('View in your Shopify Admin <i class="icon-chevron-right" style="opacity:.25"></i>'), "https://#{current_shop.url}/admin/products/#{product.id}", :target => 'blank', :class => 'btn btn-primary' %></p>
              </div>
              
            </div>
          </div>
          
          <div class="modal hide fade" id="modal-<%= product.id %>" style="display:none;">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3><%= product.title %></h3>
            </div>
            <div class="modal-body" >
              <% if !product.images.empty? %>
                <%= image_tag product.images.first.large %>
              <% end %>
            </div>
          </div>
        <% end %>
      
      <% end %>
      
    </div> <!-- accordion -->
